@model List<AlbumDto>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="box">
            <h3 class="title">@item.Name</h3>
            <h4 class="subtitle">Lanzado el @item.ReleaseDate</h4>
        </div>
    }
}
else
{
    <p>No se han registrado álbumes</p>
}
